
html {
  background-color: #C84B31;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Quintessential', sans-serif;
}

.title {
  text-align: center;
  color: #191919;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.grid-container {
  display: grid;
  width: 600px;
  height: 600px;
  max-width: 600px;
  grid-template-columns: repeat(16, auto);
  box-shadow: 5px 10px 18px #2D4263;

}

.big-grid {

  grid-template-columns: repeat(100, auto);
}



.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.clear-button, .new-button {

  background-color: #2D4263;
  color: #ECDBBA;
  border-radius: 15%;
  border: none;
  padding: 10px;
  font-family: 'Quintessential', sans-serif;
}

.grid-item {
  display: inline-block;
  background-color: #ECDBBA;
  border: 1px solid #191919;
}
